@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

.wrapper {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}
.navbar {
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navlogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 28px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
}
.navlogo p {
  margin-left: -10px;
}
.navitems {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
}
a {
  text-decoration: none;
}
.navitems div {
  cursor: pointer;
  font-size: 20px;
  transition: font-weight 0.3s;
}
.navitems div a {
  display: block;
  color: black;
  font-family: "Be Vietnam Pro", sans-serif;
}
.navitems div:hover {
 transform: scale(1.02);
  font-weight: bold;
}
.navbar img {
  width: 65px;
  height: 65px;
}
.herosection {
  position: relative;
  display: flex;
  gap: 5rem;
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.herosectionleft {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.faded {
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);
  bottom: -10%;

  font-weight: bold;
  position: absolute;
}
.name {
  font-size: 35px;
  font-weight: 500;
  color: #343d68;
}
.role {
  color: #4e45d5;
  font-weight: 800;
}
.myself {
  font-size: 45px;
  line-height: 45px;
}
.herosectiondesc {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}
.button {
  display: flex;
  width: fit-content;
  padding: 15px 30px;
  background-color: rgb(229, 48, 48);
  color: white;
  cursor: pointer;
  position: relative;
  box-shadow: 5px 5px 7px 0px #0000003f;
  z-index: 0;
  font-size: 18px;
}
.button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  border: 2px solid rgb(229, 48, 48);
  background-color: white;
  color: black;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.8s;
  transform: scaleX(0);
}
.button:hover::before {
  transform: scaleX(1);
}
.button:hover {
  color: black;
}
.herosectionright {
  position: relative;
}
.absolute {
  position: absolute;
  z-index: 1;
}
.userimage {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: 1s;
  animation: scaleimage 5s linear infinite;
  z-index: -1;
}
.userimage img {
  z-index: -1;
}
@keyframes scaleimage {
  0% {
    scale: 1;
    filter: grayscale(1);
  }

  50% {
    filter: grayscale(0);
    box-shadow: 3px 3px 10px black;
    scale: 0.9;
  }

  100% {
    scale: 1;
    filter: grayscale(1);
  }
}
.icon-dots {
  bottom: 0;
  right: 0;
  animation: dots 3s infinite;
}
@keyframes dots {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.icon-cube {
  right: 0;
  top: 0;
  animation: cube 3s infinite;
}

@keyframes cube {
  0% {
    transform: translateY(0px) scaleX(1);
  }
  50% {
    transform: translateY(10px) scaleX(-1);
  }
  100% {
    transform: translateY(0px) scaleX(1);
  }
}
.icon-circle {
  left: 10px;
  bottom: 10px;
  animation: circle 3s linear infinite;
}
@keyframes circle {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-15px) translateY(15px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
.icon-zigzag {
  top: 1.5em;
  left: -0.3em;
  animation: zigzag 5s infinite;
}
@keyframes zigzag {
  50% {
    left: 5%;
    top: 3%;
  }
}
.icon-plus {
  top: -0.8rem;
  left: 50%;
  animation: plus 5s ease-in infinite;
}
@keyframes plus {
  50% {
    top: 2%;
    left: 48%;
  }
}
.project {
  width: 100%;

  margin-top: -1rem;
  background-color: #e7e7e7;
  overflow-x: hidden;
  padding-bottom: 2rem;
}
.pageheader {
  color: #e84949;
  font-size: 90px;
  line-height: 75px;
  padding: 50px 0 30px;
  text-align: center;
  font-weight: bold;
}
.cardcontainer {
  display: flex;
  row-gap: 120px;
  flex-direction: column;
  margin-top: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 550px;
  position: relative;
  background-size: cover;
  box-shadow: 0px 0px 40px #1f1f1f;
  padding: 40px;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1f1f1f9a;
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100%;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  z-index: 1;
  transition: all 0.5s;
}
.card:hover::before {
  right: 0;
}
.card:hover .projectcontent {
  scale: 1.1;
}
#card1 {
  background-image: url(Images/projects/Project1.png);
}
#card2 {
  background-image: url(Images/projects/Project2.png);
}
#card3 {
  background-image: url(Images/projects/Project3.png);
}
#card4 {
  background-image: url(Images/projects/Project4.png);
}

.leftcard {
  left: 5%;
}
.rightcard {
  right: -15%;
}
.number {
  color: #fff;
  position: absolute;
  z-index: 2;
  font-weight: 600;
  font-size: 200px;
  display: none;
  transition: all 0.8s;
}
.card:hover .number {
  display: inline;
}
.rightNumber {
  top: -45px;
  right: -45px;
}
.leftNumber {
  top: -45px;
  left: -45px;
}
.rightcontent {
  right: 3%;
}
.projectcontent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding: 4em;
  bottom: 10%;
  position: absolute;
  z-index: 2;
  transition: all 0.5s;
}
.ProjectSkillsContainer {
  max-width: 50%;
}
.projectheading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}
.prodesc {
  font-size: 16px;
  font-style: italic;
  width: 70%;
}
.stack {
  width: 40px;
  margin-right: 10px;
}

.icon {
  font-size: 35px;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}
.icon:hover {
  color: #e84949;
}
.otherinfo {
  gap: 20px;
  display: flex;
  flex-direction: row;
}
.skills {
  display: flex;
  flex-direction: row;
  padding: 80px;
  margin: 160px 0;
  gap: 30px;
  position: relative;
}
.leftbox {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.leftboxheading span {
  font-size: 90px;
}
.leftboxheading {
  color: #e84949;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
.aboutme {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  text-align: justify;
}
.rightbox {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
  justify-content: center;
}
.skillsLogo {
  width: 80px;
  transition: all 0.5s;
}
.skillsLogo:hover {
  scale: 1.2;
}
.fadedskill {
  user-select: none;
  font-size: 11em;
  color: rgb(231, 231, 231);
  bottom: -25%;
  right: 0;
  font-weight: bold;
  position: absolute;
}
#blob {
  position: absolute;
  left: 30%;
  top: 7%;
  z-index: -1;
  animation: shakeanimation 3s linear infinite;
}
@keyframes shakeanimation {
  50% {
    left: 26%;
    top: 11%;
  }
}
.contact{
  padding: 0 190px;
  background-color: #e7e7e7;
  max-height: 1200px;
}
.contactheading h2{
  font-size: 5em;
  padding-top: 2rem;
  color: #e84949;
}
.contactsubheading h3{
  font-size: 3em;
  color: #343d68aa;
}
.forms{
  display: flex;
  flex-direction: column;
}
.forms form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.formField {
    width: 350px;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    background: #ffffff97;
    font-weight: 500;
}
.formFieldContainer textarea{
  height:auto;
 padding-top: .5rem;
}
.formBtn{
  padding: 0.8rem 2.3rem;
}
.footer{
  overflow-y: hidden;
  padding: 80px;
  position: relative;
  padding: 5rem;
  background-color: #343d68;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 1200px;
}
.rightsection{
  display: flex;
  justify-content: space-around;
  gap: 1.2rem;
}
.leftsection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem;
  width: auto;
}
.leftsection a{
  color: white;
}
.fadedfooter{
  position: absolute;
  bottom: 0;
  left: 0;
  user-select: none;
  font-size: 5em;
  color: #535c87;
  margin-bottom: -1px;
}